### 20170918

## 변수1

In [5]:
x=100

In [6]:
y=200

In [7]:
print(x)

100

In [8]:
x=100
x=1000
print(x)

1000

In [11]:
x=100
y=200
print(x+y)

300

In [12]:
sum=x+y

In [13]:
print(sum)

300

## 변수2

In [15]:
name="정해준"

In [20]:
address="성남"

In [21]:
print(name)
print(address)

정해준
성남

In [22]:
print(2+33)

35

In [23]:
print("2"+"33")

233

In [24]:
print(x)

100

In [25]:
print(y)

200

## 변수3

In [27]:
score=10
score=score+1

In [30]:
print (score)

11

## 응용

In [34]:
x=100
y=250
sum=x+y
print (x, '와', y, '의 값은', sum, '입니다')

100 와 250 의 값은 350 입니다

## 변수 입력

In [40]:
x=input("")

123

In [42]:
print(x+x)

123123

In [43]:
x=input()

123

In [44]:
print(x+x)

123123

In [45]:
x=input("당신의 이름을 입력하세요")

당신의 이름을 입력하세요정해준

In [46]:
print(x)

정해준

In [47]:
x=input("첫번째 숫자를 입력해 주세요")

첫번째 숫자를 입력해 주세요글자

# 값을 숫자로 인식해야 된다.

In [48]:
x=int(input("첫번째 숫자를 입력해 주세요"))

첫번째 숫자를 입력해 주세요글자

ValueError: invalid literal for int() with base 10: '글자'

In [52]:
x=int(input("첫번째 숫자를 입력해 주세요"))

첫번째 숫자를 입력해 주세요55

In [53]:
x=int(input("첫번째 숫자를 입력해 주세요"))
y=int(input("두번째 숫자를 입력해 주세요"))
sum=x+y
print(x, '와', y, '의 합은', sum, '입니다')

첫번째 숫자를 입력해 주세요128
두번째 숫자를 입력해 주세요256
128 와 256 의 합은 384 입니다

In [56]:
name=input('이름을 입력하세요:  ')
address=input('주소를 입력하세요:  ')
print(name, "씨", address, "집주소를 잘 찾아가세요.")

이름을 입력하세요:  정해준
주소를 입력하세요:  성남시 분당구 금곡동
정해준 씨 성남시 분당구 금곡동 집주소를 잘 찾아가세요.

# 수식

In [61]:
#덧셈
a=7+4

In [64]:
#곱셈
b=7*4

In [65]:
#뺄셈

c=7-4

In [62]:
#나눗셈(몫+나머지)
d=7/4

#나눗셈(몫만)
e=7//4

#나눗셈(나머지)
f=7%3

In [66]:
print(a,b,c,d,e,f)

11 28 3 1.75 1 1

In [8]:
100000000/3

33333333.333333332

In [6]:
p=int(input("분자를 입력"))
q=int(input("분모를 입력"))
print("나눗셈의 몫은", p//q, "입니다")
print("나눗셈의 나머지는", p%q, "입니다")

분자를 입력256
분모를 입력128
나눗셈의 몫은 2 입니다
나눗셈의 나머지는 0 입니다

In [1]:
1+1

2

In [2]:
number= int(input("정수를 입력하세요"))

정수를 입력하세요255

In [7]:
number

255

# 응용3

## 초단위 시간을 받아서 몇분 몇초인지 계산하기

In [20]:
sec=int(input("몇 초인지 입력하세요"))
min=sec//60
asec=sec%60
print (min,'분', asec, '초 입니다.')

몇 초인지 입력하세요450
7 분 30 초 입니다.

## bmi계산하기

### 사용자로부터 몸무게와 키를 입력받아 BMI를 측정

In [1]:
weight=float(input("당신의 몸무게를 입력하세요(단위:Kg):  "))
height=float(input("당신의 신장를 입력하세요(단위:m):  "))

bmi=(weight/(height**2))

print(bmi)

당신의 몸무게를 입력하세요(단위:Kg):  45
당신의 신장를 입력하세요(단위:m):  1.7
15.570934256055365